.User__wrapper {
    display: flex;
    padding: 10px;
    border: 0.5px solid lightgrey;
    border-bottom: none;
}

.User__wrapper:hover {
    box-shadow: 0px 0px 5px 0px lightgrey;
    transition: 0.3s;
}

.User__wrapper:last-child {
    border-bottom: 0.5px solid lightgrey;
}

.User__wrapper>img {
    border-radius: 25px;
    height: 100%;
    margin-right: 10px;
}

.User__info>p, .User__info>h4 {
    margin: 0px;
    margin-top: 2px;
}

.User__wrapper-female {
    background-color: #ffebee;
}