.Header__title {
    background-color: brown;
    color: #ffffff;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 0px;
}
body {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
}